@model List<Application.DTOs.UserSide.Account.CartDto>







<div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a asp-controller="Home" asp-action="Index">Home</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><a asp-controller="Account" asp-action="Index">My Account</a></li>


            <li><span class="fa fa-angle-right"></span></li>

            <li><span>Cart</span></li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->




    <div class="container">
        <div class="nk-store nk-store-cart">
            <div class="table-responsive">

                <!-- START: Products in Cart -->
                <table class="table nk-store-cart-products">
                    <tbody>
                        @foreach (var cart in Model)
                        {
                            <tr>
                                <td class="nk-product-cart-thumb">
                                    <a href="store-product.html" class="nk-image-box-1 nk-post-image">
                                        <img src="~/assets/images/GameImages/@cart.ScreenShot" alt="@cart.GameName" style="background: url('~/assets/images/GameImages/@cart.ScreenShot') no-repeat center fixed; background-size:cover width: 160px; height: 205px;" width="115">
                                    </a>
                                </td>
                                <td class="nk-product-cart-title">
                                    <h5 class="h6">Product:</h5>
                                    <div class="nk-gap-1"></div>

                                    <h2 class="nk-post-title h4">
                                        <a href="store-product.html">@cart.GameName</a>
                                    </h2>
                                </td>
                                <td class="nk-product-cart-price">
                                    <h5 class="h6">Price:</h5>
                                    <div class="nk-gap-1"></div>

                                    <strong>€ @cart.Price</strong>
                                </td>
                                <td class="nk-product-cart-quantity">
                                    <h5 class="h6">Quantity:</h5>
                                    <div class="nk-gap-1"></div>

                                    <div class="nk-form">
                                        <input type="text" readonly class="form-control" value="@cart.Quantity" min="1" max="3" style="background-color: #232930">
                                    </div>
                                </td>
                                <td class="nk-product-cart-total">
                                    <h5 class="h6">Total:</h5>
                                    <div class="nk-gap-1"></div>
                                    @{
                                        var total = cart.Price * cart.Quantity;
                                    }
                                    <strong>€ @total</strong>
                                </td>
                                <td class="nk-product-cart-remove"><a href="#"><span class="ion-android-close"></span></a></td>
                            </tr>
                        }




                    </tbody>
                </table>
                <!-- END: Products in Cart -->

            </div>
            <div class="nk-gap-1"></div>
            <a class="nk-btn nk-btn-rounded nk-btn-color-white float-right m-20" asp-controller="Store" asp-action="Index" >Update Cart</a>
           
            <a class="nk-btn nk-btn-rounded nk-btn-color-main-1 float-right m-20" asp-controller="Account" asp-action="CheckOut">Proceed to Checkout</a>

           

          
            <div class="clearfix"></div> 
        </div>
    </div>

    <div class="nk-gap-2"></div>



</div>



