@model List<Application.DTOs.UserSide.StorePart.StoreDto >

<div class="nk-gap-3"></div>
<h3 class="nk-decorated-h-2"><span><span class="text-main-1">Related</span> Products</span></h3>
<div class="nk-gap"></div>
<div class="row vertical-gap">







    @foreach (var item in Model)
    {

        <div class="col-md-6">
            <div class="nk-product-cat">
                @{
                    var screenshot = item.Screenshots.FirstOrDefault();
                }
                @if(screenshot != null)
                {
                    <a class="nk-product-image" asp-controller="Store" asp-action="Product" asp-route-Id="@item.Id">
                        <img src="~/assets/images/GameImages/@screenshot" alt="@item.Name" style="background: url('~/assets/images/GameImages/@screenshot') no-repeat center fixed; background-size:cover width: 205px; height: 160px;">
                    </a>
                }
              
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="store-product.html"></a></h3>
                    <div class="nk-gap-1">@item.Name</div>

                    @if (item.Rating != 0)
                    {

                        // Calculate the number of full stars and half star based on the Rating value
                        int fullStars = (int)Math.Floor(item.Rating);
                        bool hasHalfStar = item.Rating - fullStars >= 0.5;

                        <div class="nk-product-rating" data-rating="@item.Rating">
                            @for (int i = 0; i < 5; i++)
                            {
                                if (i < fullStars)
                                {
                                    // Render full star icon
                                    <i class="fa fa-star"></i>
                                }
                                else if (hasHalfStar && i == fullStars)
                                {
                                    // Render half star icon
                                    <i class="fas fa-star-half"></i>
                                }
                                else
                                {
                                    // Render empty star icon
                                    <i class="far fa-star"></i>
                                }
                            }
                        </div>
                    }
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-price">€ @item.Price</div>
                </div>
            </div>
        </div>
    }




</div>